.tagsContainer {
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: var(--gray-200);

    height: 2rem;
    padding: 0 1rem;
    border-radius: 1em;
    margin: 0 0.5rem 0.5rem;

    font: 400 1rem Roboto, sans-serif;
    color: var(--gray-800);
  }
}